.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 2%;
}

.logo-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 5%;
}

.logo-login {
  width: 80%; /* Largura da logo ajustada para ser responsiva */
  height: auto;
}

.line-separator {
  border-left: 0.2vw solid gray;
  height: 60vh; /* Altura ajustada para viewport height */
  margin-right: 15%;
}

.login-wrapper {
  background-color: #f6f6f6;
  border-radius: 1%;
  padding: 5%;
  margin-right: 2%;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
  max-width: 90%; /* Largura máxima da área de login */
  border: 0.1vw solid black;
}

.login-text h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 2%;
}

.login-button {
  text-align: center;
}

#login-text {
  font-size: 2vw; /* Tamanho responsivo para a fonte */
  color: #333;
}

.MuiTextField-root {
  margin-bottom: 5%;
}

.Alert {
  margin-top: 5%;
}
