.notas-container {
    padding-top: 450px;
    background-color: #ab2325;
}

.back-nota-aluno {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.provas-write {
    font-size: 45px;
    font-weight: bold;
    padding-left: 12px;
}

h1 {
    color: white;
}

.notas-write {
    font-size: 45px;
    font-weight: bold;
    margin-right: 165px;
}

.notas-list {
    display: table;
    width: 100%;
    margin-top: 20px;
}

.avaliacao-nota {
    display: table-row;
    width: 100%;
    border:5px solid black;
}

.avaliacao, .nota {
    display: table-cell;
    font-weight: bold;
    padding: 10px;
    border-bottom:1px solid gray;
    background-color: #e8dddc;
}

.avaliacao {
    font-size: 25px;
    width: 70%; /* Ajuste o tamanho conforme necessário */
    padding-left: 12px;
}

.nota {
    font-size: 20px;
    width: 30%; /* Ajuste o tamanho conforme necessário */
    text-align: right;
    padding-right: 200px;
}

.values {
    color: #e8dddc;
    height: 300px;
    border: 2px solid black;
}

.values-write {
    font-size: 20px;
    font-weight: bold;
    margin-right: 190px;
}
